body{
font-family:Arial;
background:#f3f3f3;
margin:0;
padding:40px;
}

.toolbar{
margin-bottom:20px;
}

.invoice{
width:900px;
margin:auto;
background:white;
padding:40px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.title{
text-align:right;
letter-spacing:3px;
}

.header{
display:flex;
justify-content:space-between;
margin-bottom:30px;
}

.company h2{
margin:0;
}

.invoiceDetails input{
display:block;
margin-bottom:10px;
}

.billto{
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#111;
color:white;
padding:10px;
text-align:left;
}

td{
border-bottom:1px solid #ddd;
padding:10px;
}

.totals{
text-align:right;
margin-top:20px;
}

.payment{
margin-top:40px;
font-size:14px;
}

button{
margin-top:10px;
padding:10px 20px;
cursor:pointer;
}

.saveBtn{
background:#0a7cff;
color:white;
border:none;
}

/* PRINT MODE */

@media print{

body{
background:white;
}

.toolbar{
display:none;
}

.invoice{
box-shadow:none;
width:100%;
}

}
